{{define "header"}}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" href="/static/images/favicon.png">

        <title>Effective</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Description">
        <meta property="og:title" content="Title" />
        <meta property="og:description" content="Description" />
        <meta property="og:url" content="URL" />
        <meta property="og:image" content="/static/images/screen-min-c.png" />

        <link rel="icon" href="/static/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap4.min.css">
        <script src="/static/js/jquery-2.1.4.min.js"></script>
        <script src="/static/js/bootstrap4.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
{{end}}
